<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

            <title>SuperHeroSighting</title>

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>Super Hero Sighting</h1>
                </div>
            </div>
            <div class="row m-4 ">
                <div class="col text-center m-3 small">
                    <a href="heros" class="btn btn-outline-primary btn-lg">Heroes & Villians</a>
                </div>
                <div class="col text-center m-3 small">
                    <a href="superPowers" class="btn btn-outline-primary btn-lg">Super Powers</a>
                </div>
                <div class="col text-center m-3 small">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>
                <div class="col text-center m-3 small">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3 small">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
            </div>
        </div>

        <!-- Button trigger modal --><div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addHeroModal">
                    Add Hero
                </button>
            </div>

        </div>


        <!--*****************Add Hero Modal******************-->
        <div>
            <!--     Gives error
            <div class="col m-1 text-center" 
                             th:if="${!errors.isEmpty()}">
                            <p class="alert alert-danger" th:each="error : ${errors}" 
                               th:text="${error.message}">Error message</p>
                        </div> -->
            <div class="modal" id="addHeroModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Hero</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">                             
                            <form type="form"  action="addHero" method="POST">
                                <div class="form-group">
                                    <label for="heroName">Name</label>
                                    <input type="text" class="form-control" id="heroName" name="name"/>
                                </div>
                                <div class="form-group">
                                    <label  for="heroDescription">Description</label>
                                    <textarea rows="2" class="form-control text-start" id="heroDescription" name="description">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label  for="HeroOrganization">Organization</label>
                                    <select multiple class="form-control" name="organizationId">
                                        <option th:each="organization : ${organizations}"
                                                th:value="${organization.id}"
                                                th:text="${organization.name}">Organization</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label  for="heroSuperPower">SuperPower</label>
                                    <select  class="form-control" name="superPowerId">
                                        <option value="" selected disabled hidden>----Choose Superpower---</option>
                                        <option th:each="superPower : ${superPowers}"
                                                th:value="${superPower.id}"
                                                th:text="${superPower.superPower}">Select SuperPower</option>
                                    </select>
                                </div>                       
                                <button type="submit" class="btn btn-primary">Add Hero</button> 
                            </form>                
                        </div>                   
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-4 border border-primary">
            <div class="col m-3">
                <div class="col-12 text-center m-3">
                    <span class="h3">Heroes List</span>     
                </div>
                <table class="table table-sm text-left">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Organizations </th>
                            <th>SuperPower</th>
                            <th>Detail</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="h4 small">
                        <tr th:each="hero : ${heros}">
                            <td th:text="${hero.name}">name</td>
                            <!--                            <td th:text="${hero.description}">Description</td>-->
                            <td><span th:each="a, heroOrganization : ${hero.organizations}" th:text="!${heroOrganization.last} ? ${a.name} + ',': ${a.name}"></span></td>
                            <td th:text="${hero.superPowers.superPower}">SuperPower</td>

                            <!--                            *************Detail Hero Modal************-->
                            <td><a th:attr="href=${'#detailModal'+hero.id}" data-toggle="modal" th:data-row="${hero}" >Detail</a></td>
                            <div th:each="hero : ${heros}" class="modal" th:attr="id=${'detailModal'+ hero.id}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Details of Hero</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row m-4 border border-primary" >
                                                <div class="col-5 col-form-label text-right"><strong>Hero:</strong></div>            
                                                <div class="col-7 col-form-label text-left">
                                                    <span th:text="${hero.name}">display</span>
                                                </div>           
                                                <!-- <div class="col-5 col-form-label text-right"><strong>Type:</strong></div>            
                                                <div class="col-7 col-form-label text-left">
                                                    <span th:text="${hero.type}">display</span>
                                                </div>            -->
                                                <div class="col-5 col-form-label text-right"><strong>Description:</strong></div>            
                                                <div class="col-7 col-form-label text-left">
                                                    <span th:text="${hero.description}">display</span>
                                                </div>             
                                                <div class="col-5 col-form-label text-right"><strong>Power:</strong></div>            
                                                <div class="col-7 col-form-label text-left">
                                                    <span th:text="${hero.superPowers.superPower}">display</span>
                                                </div>              
                                                <div class="col-5 col-form-label text-right"><strong>Organizations:</strong></div>           
                                                <div class="col-7 col-form-label text-left">
                                                    <span th:each="organization : ${hero.organizations}">
                                                        <span th:text="${organization.name}">display</span><br/>
                                                    </span>
                                                </div>
                                                <div class="col-5 col-form-label text-right"><strong>Locations Seen:</strong></div>           
                                                <div class="col-7 col-form-label text-left">
                                                    <span th:each="key : ${heroLocations.keySet()}">

                                                        <span th:if="${key == hero.id}" th:each="location : ${heroLocations.get(key)}">
                                                            <p th:text="${location.name}">                                                                
                                                            </p>

                                                        </span>
                                                    </span> <br/>


                                                </div>
                                                <div class="col text-center m-3">
                                                    <a href="heros" class="btn btn-primary">Go Back To Heroes Main Page</a>   
                                                </div>            
                                            </div>               
                                        </div>                                       
                                    </div>
                                </div>
                            </div>

                            <!--                            *************Edit Hero Modal************-->
                            <td><a th:attr="href=${'#editModal'+hero.id}" data-toggle="modal" th:data-row="${hero}">Edit</a></td>
                            <div th:each="hero : ${heros}" class="modal" th:attr="id=${'editModal'+ hero.id}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit Hero</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <form type="form" action="editHero" method="POST">
                                                <div class="form-group">
                                                    <label for="heroName">Name</label>
                                                    <input type="text" class="form-control" id="heroName" name="name" 
                                                           th:value="${hero.name}"/>
                                                    <!--                                                    <div th:if="${#fields.hasErrors('hero.name')}">
                                                                                                            <p th:each="error : ${#fields.errors('hero.name')}" 
                                                                                                               class="alert alert-danger" th:text="${error}"> name </p>
                                                                                                        </div>-->
                                                </div>
                                                <div class="form-group">
                                                    <label  for="heroDescription">Description</label>
                                                    <textarea rows="2" class="form-control text-start" id="heroDescription" name="description" 
                                                              th:text="${hero.description}">
                                                        Description
                                                    </textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label  for="heroOrganization">Organization</label>
                                                    <select multiple class="form-control" name="organizationId">
                                                        <option th:each="organization : ${organizations}"
                                                                th:value="${organization.id}"
                                                                th:text="${organization.name}"
                                                                th:selected="${hero.organizations.contains(organization)}">Organization</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label  for="heroSuperPower">SuperPower</label>
                                                    <select  class="form-control" name="superPowerId">
                                                        <option th:each="superPower : ${superPowers}"
                                                                th:value="${superPower.id}"
                                                                th:text="${superPower.superPower}"
                                                                th:selected="${hero.superPowers.equals(superPower)}">Select SuperPower</option>
                                                    </select>
                                                </div>  
                                                <input type="hidden" name="id" th:value="${hero.id}"/>
                                                <button type="submit" class="btn btn-primary">Update Hero</button> 
                                            </form>                
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                            <td><a href="#" th:attr="href=${'#deleteModal'+hero.id}" data-toggle="modal" >Delete</a></td>
                            <!--**********************Delete Modal**********************************-->
                            <div class="modal" th:each="hero : ${heros}" th:attr="id=${'deleteModal'+ hero.id}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Deletion Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Would you like to proceed with deletion?</p>                                            
                                        </div>
                                        <div class="modal-footer">
                                            <form type="form" action="deleteHero" method="POST">
                                                <input type="hidden" name="id" th:value="${hero.id}"/>
                                                <button type="submit" class="btn btn-primary">Yes</button> 
                                                <!--                                            <button type="submit" class="btn btn-primary" th:href="@{/deleteHero(id=${hero.id})}">Yes</button>-->
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row m-4 text-center border border-primary">
            <div class="col-4"></div>
            <div class="col-4 m-2">
                <form action="herosByOrganization" method="POST">
                    <div class="form-group row">
                        <label for="date" class="col-6 col-form-label text-right font-weight-bold">Members of Organization</label>
                        <div class="col-6">
                            <select  id="organizationOfHeros" class="form-control" name="organizationOfHeros">
                                <option value="" selected disabled hidden>--Choose Organization--</option>
                                <option th:each="organization : ${organizations}"
                                        th:value="${organization.id}"
                                        th:text="${organization.name}">Select Organization</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a href="/heros" class="btn btn-secondary">Reset</a>                    
                </form>   
            </div>
            <div class="col-4"></div>
        </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        <script src="../js/heros.js"></script>
    </body>

</html>